include ./shared/global/jade-helpers.jade

doctype html
-dataObj = data
-rootData = db || data

html
  head
    //-link(rel='stylesheet', href='/stylesheets/main.css')
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
  body.app
    .app-container-wrap

    script(src='/js/all.js')
